{{- $hostname := .chezmoi.hostname -}}
{{- $machine := "" -}}
{{- if eq $hostname "lenovo" -}}
{{-   $machine = "lenovo" -}}
{{- else if eq $hostname "cloudtop" -}}
{{-   $machine = "cloudtop" -}}
{{- else -}}
{{-   $machine = promptStringOnce . "machine" "Machine profile (lenovo/cloudtop/macbook)" -}}
{{- end -}}

sourceDir = "{{ .chezmoi.sourceDir }}"
encryption = "age"

[data]
  machine = "{{ $machine }}"
  hostname = "{{ $hostname }}"
  is_lenovo = {{ eq $machine "lenovo" }}
  is_cloudtop = {{ eq $machine "cloudtop" }}
  is_macbook = {{ eq $machine "macbook" }}
  is_linux = {{ ne $machine "macbook" }}
  has_wayland = {{ eq $machine "lenovo" }}
  has_battery = {{ or (eq $machine "lenovo") (eq $machine "macbook") }}
  opensubtitles_api_key = "{{ promptStringOnce . "opensubtitles_api_key" "OpenSubtitles API key" }}"
  tstruct_token = "{{ promptStringOnce . "tstruct_token" "Tstruct token" }}"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age132j5753vcljc0gn6a23y83qu8vls058djgkn934s4tn6tl5ay96qhhhjfg"
