**/__pycache__/
**/lazy-lock.json
**/.vscode/
**/keys.json
dot_config/qtile/json/keys.json
dot_config/qtile/json/settings.json
dot_config/qtile/modules/keys/apps.py
dot_config/qtile/modules/widgets/weather.py
