{
  "apps": [
    [
      "nemo",
      "nemo",
      "nemo"
    ],
    [
      "Alacritty",
      "alacritty",
      "alacritty"
    ],
    [
      "vscodium",
      "vscodium",
      "vscodium"
    ],
    [
      "firefox",
      "firefox",
      "firefox"
    ],
    [
      "virtualbox",
      "virtualbox",
      "virtualbox"
    ]
  ],
  "bar_height": {{ if .is_cloudtop }}30{{ else }}56{{ end }},
  "cmds": {
    "blueman": [
      "blueman-manager"
    ],
    "emoji": [
      "rofi",
      "-modes",
      "emoji",
      "-show",
      "emoji"
    ],
    "htop": [
      "alacritty",
      "--class",
      "htop",
      "-o",
      "'font.size=10'",
      "-e",
      "htop"
    ],
    "menu": [
      "rofi",
      "-modes",
      "drun",
      "-show",
      "drun",
      "-terminal",
      "alacritty",
      "-show-icons"
    ],
    "nwgbar": [
      "nwgbar",
      "-b",
      "1d1d2d",
      "-o",
      "0.4"
    ],
    "terminal": "alacritty",
    "dropdown_term": "alacritty --class=dropdown_term",
    "transmission": [
      "alacritty",
      "-o",
      "font.size=10",
      "--class",
      "alacritty-transmission",
      "-e",
      "watch",
      "-c",
      "-n",
      "1",
      "-t",
      "transmission.py"
    ],
    "update": [
      "alacritty",
      "-o",
      "font.size={{ if .is_cloudtop }}13{{ else }}8{{ end }}",
      "--class",
      "qtile_yay_update",
      "-e",
      "sh -c 'env CARGO_TARGET_DIR=./target yay -Syyu --noconfirm'"
    ],
    "wallpaper": [
      "rofi-wallpaper"
    ],
    "browser": "firefox-developer-edition"
  },
  "dropdown_opacity": {{ if .is_cloudtop }}0.95{{ else }}0.8{{ end }},
  "extension_defaults": {
    "font": "Font Awesome 6 Free Solid",
    "fontsize": {{ if .is_cloudtop }}20{{ else }}30{{ end }},
    "padding": 6
  },
  "font_size": {{ if .is_cloudtop }}20{{ else }}30{{ end }},
  "keymaps": {
    "mod": "mod4",
    "alt": "mod1"
  },
  "groups": [
    {
      "name": "coding",
      "label": "",
      "layout": "{{ if .is_cloudtop }}max{{ else }}monadwide{{ end }}",
      "screen_affinity": {{ if .is_cloudtop }}0{{ else }}2{{ end }}
    },
    {
      "name": "www",
      "label": "",
      "layout": "max",
      "screen_affinity": 1
    },
    {
      "name": "social",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}1{{ else }}0{{ end }}
    },
    {
      "name": "settings",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}2{{ else }}0{{ end }}
    },
    {
      "name": "etc",
      "label": "",
      "layout": "{{ if .is_cloudtop }}max{{ else }}bsp{{ end }}",
      "screen_affinity": {{ if .is_cloudtop }}2{{ else }}1{{ end }}
    },
    {
      "name": "media",
      "label": "",
      "layout": "{{ if .is_cloudtop }}max{{ else }}monadthreecol{{ end }}",
      "screen_affinity": {{ if .is_cloudtop }}2{{ else }}0{{ end }}
    }
  ],
  "icon_font": "Font Awesome 6 Free Solid",
  "icon_fontsize": {{ if .is_cloudtop }}20{{ else }}30{{ end }},
  "margin_size": {{ if .is_cloudtop }}10{{ else }}20{{ end }},
  "text_font": "CaskaydiaCove Nerd Font Mono Bold",
  "widget_defaults": {
    "font": "Font Awesome 6 Free Solid",
    "fontsize": {{ if .is_cloudtop }}20{{ else }}30{{ end }},
    "padding": 6
  }
}
