Host github.com
  Hostname github.com
  Port 443
  ProxyCommand /usr/bin/nc ssh.github.com 443
{{- if .is_hetzner }}
  IdentityFile ~/.ssh/github
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}
