os:
  copyToClipboardCmd: "sh -c 'printf \"\\033]52;c;$(printf {{text}} | base64 -w 0)\\a\" > /dev/tty'"
git:
  overrideGpg: true

{{- if .is_cloudtop }}
gui:
  wrapLinesInStagingView: true
customCommands:
  - key: "<ctrl+shift+p>"
    description: "Push to a specific remote repository"
    context: "global"
    loadingText: "Pushing ..."
    prompts:
      - type: "menuFromCommand"
        title: "Which remote repository to push to?"
        command: bash -c "git remote --verbose | grep '/.* (push)'"
        filter: '(?P<remote>.*)\s+(?P<url>.*) \(push\)'
        valueFormat: "{{ "{{ .remote }}" }}"
        labelFormat: "{{ "{{ .remote | bold | cyan }} {{ .url }}" }}"
      - type: "menu"
        title: "How to push?"
        options:
          - value: "push"
          - value: "push --force-with-lease"
          - value: "push --force"
    command: "git {{ "{{index .PromptResponses 1}}" }} {{ "{{index .PromptResponses 0}}" }}"
{{- end }}
