os:
  copyToClipboardCmd: "sh -c 'printf \"\\033]52;c;$(printf {{ `{{text}}` }} | base64 -w 0)\\a\" > /dev/tty'"
git:
  overrideGpg: true

{{- if .is_cloudtop }}
gui:
  wrapLinesInStagingView: true
customCommands:
  - key: "P"
    description: "Push selected local branch(es) to remote"
    context: "localBranches"
    loadingText: "Pushing branch(es)..."
    prompts:
      - type: "menuFromCommand"
        title: "Which remote repository to push to?"
        key: "Remote"
        command: bash -c "git remote --verbose | grep '/.* (push)'"
        filter: '(?P<remote>.*)\s+(?P<url>.*) \(push\)'
        valueFormat: "{{ `{{ .remote }}` }}"
        labelFormat: "{{ `{{ .remote | bold | cyan }} {{ .url }}` }}"
      - type: "menu"
        title: "How to push?"
        key: "PushMode"
        options:
          - value: "push"
          - value: "push --force-with-lease"
          - value: "push --force"
      - type: "input"
        title: "Branch name(s) to push (space-separated):"
        key: "Branches"
        initialValue: "{{ `{{.SelectedLocalBranch.Name}}` }}"
        suggestions:
          preset: "branches"
    command: "git {{ `{{.Form.PushMode}}` }} {{ `{{.Form.Remote}}` }} {{ `{{.Form.Branches}}` }}"
{{- end }}
