{
  "bar_height": {{ if .is_cloudtop }}30{{ else }}36{{ end }},
  "cmds": {
    "blueman": ["blueman-manager"],
    "emoji": ["rofi", "-modes", "emoji", "-show", "emoji"],
    "htop": [
      "alacritty",
      "--class",
      "htop",
      "-o",
      "'font.size=10'",
      "-e",
      "htop"
    ],
    "lock": ["swaylock"],
    "menu": [
      "rofi",
      "-modes",
      "drun,run",
      "-show",
      "drun",
      "-terminal",
      "alacritty",
      "-show-icons"
    ],
    "nwgbar": ["nwgbar", "-b", "1d1d2d", "-o", "0.4"],
    "terminal": "alacritty",
    "dropdown_term": "alacritty --class=dropdown_term",
    "transmission": [
      "alacritty",
      "-o",
      "font.size=10",
      "--class",
      "alacritty-transmission",
      "-e",
      "watch",
      "-c",
      "-n",
      "1",
      "-t",
      "transmission.py"
    ],
    "update": [
      "alacritty",
      "-o",
      "font.size=13",
      "--class",
      "qtile_yay_update",
      "--hold",
      "-e",
      "sh -x -c \"env CARGO_TARGET_DIR=./target yay -Syyu --noconfirm --overwrite '*'\""
    ],
    "wallpaper": ["rofi-wallpaper"],
    "browser": "firefox-developer-edition"
  },
  "dropdown_opacity": {{ if .is_cloudtop }}0.95{{ else }}0.95{{ end }},
  "font_size": {{ if .is_cloudtop }}20{{ else }}20{{ end }},
  "keymaps": {
    "mod": "mod4",
    "alt": "mod1"
  },
  "groups": [
    {
      "name": "www",
      "label": "",
      "layout": "max",
      "screen_affinity": 2
    },
    {
      "name": "coding",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}0{{ else }}1{{ end }}
    },
    {
      "name": "media",
      "label": "",
      "layout": "max",
      "screen_affinity": 0
    },
    {
      "name": "settings",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}2{{ else }}0{{ end }}
    },
    {
      "name": "etc",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}2{{ else }}2{{ end }}
    },
    {
      "name": "social",
      "label": "",
      "layout": "max",
      "screen_affinity": {{ if .is_cloudtop }}1{{ else }}2{{ end }}
    }
  ],
  "icon_font": "Font Awesome 6 Free Solid",
  "icon_fontsize": {{ if .is_cloudtop }}20{{ else }}20{{ end }},
  "margin_size": {{ if .is_cloudtop }}10{{ else }}10{{ end }},
  "openweather_api_key": "{{ .openweather_api_key }}",
  "text_font": "CaskaydiaCove Nerd Font Mono Bold",
  "theme": "catppuccin",
  "widget_defaults": {
    "font": "Font Awesome 6 Free Solid",
    "fontsize": {{ if .is_cloudtop }}20{{ else }}20{{ end }},
    "padding": 6
  }
}
