return {
  { "https://gitlab.com/somini/vim-octave.vim", ft = "octave" },
  { "alaviss/nim.nvim" },
  { "ron-rs/ron.vim", filetype = "ron" },
  {
    "lervag/vimtex",
    ft = "latex",
    lazy = true,
    dependencies = { "L3MON4D3/LuaSnip", "sirver/ultisnips" },
    config = function()
      vim.g.tex_flavor = "xelatex"
      vim.g.vimtex_view_method = "zathura"
      vim.g.vimtex_compiler_silent = true
      vim.g.vimtex_quickfix_mode = 0
      vim.g.tex_conceal = "abdmg"
      vim.cmd([[
      let g:vimtex_syntax_conceal = {
          \ 'accents': 1,
          \ 'ligatures': 1,
          \ 'cites': 1,
          \ 'fancy': 1,
          \ 'spacing': 1,
          \ 'greek': 1,
          \ 'math_bounds': 1,
          \ 'math_delimiters': 1,
          \ 'math_fracs': 1,
          \ 'math_super_sub': 1,
          \ 'math_symbols': 1,
          \ 'sections': 1,
          \ 'styles': 1,
          \}
      ]])
      vim.cmd("set conceallevel=2")
      vim.cmd('let maplocalleader = ","')
    end,
  },
  {{- if not .is_cloudtop }}
  {
    "ervinpopescu/vim-matlab",
    config = function()
      require("vim-matlab").setup({
        matlab_cmd = "setsid xwayland-satellite :1 >/dev/null 2>&1 & for i in {1..50}; do xset -display :1 q >/dev/null 2>&1 && break || sleep 0.1; done; export DISPLAY=:1; xrdb -load ~/.config/X11/Xresources; QT_QPA_PLATFORM=xcb LD_PRELOAD=/usr/lib/libstdc++.so:/usr/lib/libfreetype.so LD_LIBRARY_PATH=/usr/lib/dri/ matlab -nodesktop -nosplash -webui",
        launcher = "tmux",
        split = "horizontal",
      })
    end,
  },
  {{- end }}
}
