{{ if .is_linux -}}
if [ -z "${DISPLAY}" ] && [ "${XDG_VTNR}" -eq 2 ]; then
  exec startx
fi
{{ end -}}
{{ if .has_wayland -}}
if [ -z "$WAYLAND_DISPLAY" ] && [ "$XDG_VTNR" -eq 3 ]; then
  exec qtile start -b wayland -c ~/.config/qtile-wl/config.py 2>&1 >/tmp/qtile-wl.log
fi
{{ end -}}
{{ if .is_macbook -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
export NVM_DIR="$XDG_DATA_HOME/nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && . "/opt/homebrew/opt/nvm/nvm.sh"
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && . "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
{{ end -}}
