{
  "autocompleteMaxVisible": 15,
  "collapseChangelog": true,
{{- if .is_cloudtop }}
  "enabledModels": [
    "google/gemini-3.8-flash:high"
  ],
{{- else }}
  "enabledModels": [
    "openai-codex/gpt-5.6-sol:high",
    "google/gemini-3.8-flash:high"
  ],
{{- end }}
{{- if .is_cloudtop }}
  "defaultModel": "gemini-3.8-flash",
  "defaultProvider": "google",
{{- else }}
  "defaultModel": "gpt-5.6-sol",
  "defaultProvider": "openai-codex",
{{- end }}
  "defaultThinkingLevel": "high",
  "hideThinkingBlock": true,
  "lastChangelogVersion": "0.84.4",
  "packages": [
    "npm:pi-mcp-adapter",
    "npm:pi-subagents",
    "npm:pi-web-access",
    "npm:pi-lens",
    "npm:@narumitw/pi-plan-mode",
    "npm:pi-add-dir",
    "npm:pi-interactive-shell",
    "npm:@trevonistrevon/pi-loop",
    "npm:pi-input-history"
  ],
  "quietStartup": true,
  "subagents": {
{{- if .is_cloudtop }}
    "defaultModel": "google/gemini-3.8-flash:high",
    "defaultProvider": "google",
    "defaultThinking": "high"
{{- else }}
    "defaultModel": "openai-codex/gpt-5.6-luna:high",
    "defaultProvider": "openai-codex",
    "defaultThinking": "high",
    "agentOverrides": {
      "worker": {
        "model": "openai-codex/gpt-5.6-luna:high"
      },
      "delegate": {
        "model": "openai-codex/gpt-5.6-luna:high"
      },
      "reviewer": {
        "model": "openai-codex/gpt-5.6-luna:high"
      },
      "oracle": {
        "model": "openai-codex/gpt-5.6-sol:high"
      },
      "scout": {
        "model": "openai-codex/gpt-5.6-luna:high"
      }
    },
    "agentOverridesByProvider": {
      "google": {
        "worker": {
          "model": "google/gemini-3.8-flash",
          "thinking": "high"
        }
      }
    }
{{- end }}
  },
  "theme": "dark"
}
