{
  "autocompleteMaxVisible": 15,
  "collapseChangelog": true,
{{- if .is_cloudtop }}
  "defaultModel": "gemini-3.7-flash",
  "defaultProvider": "google",
{{- else }}
  "defaultModel": "gpt-5.6-sol",
  "defaultProvider": "openai-codex",
{{- end }}
  "defaultThinkingLevel": "high",
  "hideThinkingBlock": true,
  "lastChangelogVersion": "0.84.2",
  "packages": [
    "npm:pi-mcp-adapter",
    "npm:pi-subagents",
    "npm:pi-web-access",
    "npm:pi-lens",
    "npm:@narumitw/pi-plan-mode",
    "npm:pi-add-dir",
    "npm:pi-interactive-shell",
    "npm:@trevonistrevon/pi-loop",
    "npm:pi-input-history"
  ],
  "quietStartup": true,
  "subagents": {
    "defaultModel": "openai-codex/gpt-5.6-luna:high",
    "defaultProvider": "openai-codex",
    "defaultThinking": "high"
  },
  "theme": "dark"
}
