{
  "security": {
    "auth": {
      "selectedType": "gemini-api-key"
    }
  },
  "general": {
    "previewFeatures": true,
    "vimMode": true,
    "enablePromptCompletion": true,
    "sessionRetention": {
      "enabled": true,
      "warningAcknowledged": true,
      "maxAge": "30d"
    },
    "enableAutoUpdate": false,
    "preferredEditor": "neovim",
    "plan": {
      "enabled": true
    }
  },
  "ui": {
    "dynamicWindowTitle": false,
    "hideBanner": true,
    "showMemoryUsage": true,
    "showLineNumbers": false,
    "hideWindowTitle": true,
    "useBackgroundColor": false,
    "hideTips": true,
    "footer": {
      "showLabels": true,
      "items": [
        "workspace",
        "git-branch",
        "model-name",
        "context-used",
        "quota",
        "memory-usage",
        "session-id",
        "code-changes",
        "token-count"
      ]
    },
    "showModelInfoInChat": true,
    "autoThemeSwitching": false
  },
  "tools": {
    "shell": {
      "showColor": true
    }
  },
  "experimental": {
    "modelSteering": true
  },
  "model": {
    "compressionThreshold": 0.6,
    "name": "gemini-3.1-pro-preview-customtools"
  },
  "agents": {
    "overrides": {}
  },
  "mcpServers": {
    "rust-analyzer": {
      "command": "rust-analyzer-mcp",
      "args": []
    },
    "google-workspace": {
      "command": "node",
      "args": [
        "{{ .chezmoi.homeDir }}/.gemini/extensions/google-workspace/workspace-server/dist/index.js"
      ]
    }
  },
  "context": {
    "fileName": [
      "AGENTS.md",
      "GEMINI.md"
    ]
  },
  "skills": [
    "~/.agents/skills"
  ]
}