{
{{- if .is_cloudtop }}
  "defaultModel": "gemini-3.1-pro-preview",
  "defaultProvider": "google",
{{- else }}
  "defaultModel": "gpt-5.6-luna",
  "defaultProvider": "openai-codex",
{{- end }}
  "reasoningLevel": "high"
}