[Unit]
Description=Minikube Cluster (prod-docker)
Requires=docker.service
After=docker.service
Wants=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=HOME=/root
ExecStart=/bin/bash -ec '/usr/bin/minikube start -p prod-docker --driver=docker --keep-context --force; echo "Monitoring Minikube status..."; while sleep 60; do if ! /usr/bin/minikube status -p prod-docker | /usr/bin/grep -q "host: Running"; then echo "Minikube cluster is not running!"; exit 1; fi; done'
ExecStop=/usr/bin/minikube stop -p prod-docker
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
